services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
      PORT: 5173
      DATABASE_URL: file:./dev.db
      POKEAPI_URL: https://pokeapi.co/api/v2
    ports:
      - 5173:5173
    volumes:
      - ./dev.db:/app/dev.db
      - ./prisma:/app/prisma

